@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    background-color: #fff3cb;
}

.cabecalho {
    background-color: #A52A2A;
    padding: 1.22%;
    text-align: center;
    font-size: 1.12rem;
    font-weight: 400;
    text-decoration: none;

    

}

.cabecalho__menu {
    display: flex;
    gap: 10px;
    justify-content: center;
    
}

.cabecalho__menu__link {
    color: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    

}


